<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>React-Express-Isomorphic Boilerplate</title>
		<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/theme.css">
		<link rel="stylesheet" type="text/css" href="/res/common.css">
	</head>
	<body>
		<div class="" id="root"><%- content %></div>
		<script type="text/javascript" src="/bundle.js"></script>
		
		<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=X07WMRkyOdGTlRJl1Zne"></script>
	</body>
</html>